.container {
  padding: 20px;
}

.container h1 {
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 1px 2px 1px rgb(116, 106, 106);
  margin-bottom: 0px;
}

.table-outer {
  padding: 15px;
}

