.container {
  padding: 20px 35px;
}

.container h1 {
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 1px 2px 1px rgb(173 169 169);
  margin-bottom: 4px;
  color: #999999;
}

.table-outer {
  padding: 15px;
  margin: 0px 50px;
}

@media screen and (max-width: 599px) {
  .table-outer {
    margin: 0px;
  }

  .container {
    padding: 10px;
  }
}

.mat-mdc-table {
  width: 100%;
  max-height: 100px;
  overflow: auto;
}

.mat-mdc-row:hover {
  background-color: rgba(230, 228, 228, 0.6);
}

.mat-column-name {
  height: 70px;
}