@use '@angular/material' as mat;
@include mat.core();

// Define $custom-primary-color here in styles.scss
$custom-primary-color: (
  50 : #f6f6f6,
  100 : #e8e8e8,
  200 : #d8d8d8,
  300 : #c8c8c8,
  400 : #bdbdbd,
  500 : #b1b1b1,
  600 : #aaaaaa,
  700 : #a1a1a1,
  800 : #989898,
  900 : #888888,
  A100 : #ffffff,
  A200 : #fdebeb,
  A400 : #ffb6b6,
  A700 : #ff9c9c,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$my-primary: mat.define-palette($custom-primary-color, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

@include mat.all-component-themes($my-theme);

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-icon:hover {
  cursor: pointer;
}

.mat-mdc-snack-bar-container.snackbar-success{
  --mdc-snackbar-container-color: green;
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
  --mat-snack-bar-button-color: #ff4081;
}

.mat-mdc-snack-bar-container.snackbar-warning{
  --mdc-snackbar-container-color: #ec942c;
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
  --mat-snack-bar-button-color: #ff4081;
}

.mat-mdc-snack-bar-container.snackbar-error{
  --mdc-snackbar-container-color: #ec2c2c;
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
  --mat-snack-bar-button-color: #ff4081;
}

.mat-mdc-snack-bar-container.snackbar-info{
  --mdc-snackbar-container-color: #3f2cec;
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
  --mat-snack-bar-button-color: #ff4081;
}

.mat-mdc-snack-bar-container.snackbar-default{
  --mdc-snackbar-container-color: #807e7d;
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
  --mat-snack-bar-button-color: #ff4081;
}

.card {
  padding: 10px 15px;
  margin-bottom: 50px;
}