/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container.snackbar-success{
  --mdc-snackbar-container-color: green;
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
  --mat-snack-bar-button-color: #ff4081;
}

.mat-mdc-snack-bar-container.snackbar-warning{
  --mdc-snackbar-container-color: #ec942c;
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
  --mat-snack-bar-button-color: #ff4081;
}

.mat-mdc-snack-bar-container.snackbar-error{
  --mdc-snackbar-container-color: #ec2c2c;
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
  --mat-snack-bar-button-color: #ff4081;
}

.mat-mdc-snack-bar-container.snackbar-info{
  --mdc-snackbar-container-color: #3f2cec;
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
  --mat-snack-bar-button-color: #ff4081;
}

.mat-mdc-snack-bar-container.snackbar-default{
  --mdc-snackbar-container-color: #807e7d;
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
  --mat-snack-bar-button-color: #ff4081;
}