<div class="home" fxLayout="column" fxLayoutAlign="center center">

  <div class="inner-card" fxLayoutAlign="center center">
    <h1>Add Products Here...</h1>
  </div>

  <!-- Form -->
  <mat-card class="card form" fxFlex="40%" fxFlex.lt-md="70%" fxFlex.lt-sm="100%">
    <form [formGroup]="productsForm">
      <div fxLayout="column" fxLayoutGap="3%" fxLayoutAlign="start start">
        <!-- product name -->
        <div class="inner-card" fxLayout="row" fxLayoutGap="3%" fxLayout.lt-sm="column"
          fxLayoutAlign="space-between center">
          <mat-label>Product Name</mat-label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="name">
            <mat-error *ngIf="productsForm?.get('name')?.hasError('required')">
              {{messages.FILED_REQUIRD}}</mat-error>
          </mat-form-field>
        </div>
        <!-- product description -->
        <div class="inner-card" fxLayout="row" fxLayoutGap="3%" fxLayout.lt-sm="column"
          fxLayoutAlign="space-between center">
          <mat-label>Product Description</mat-label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="description">
          </mat-form-field>
        </div>
        <!-- product Price -->
        <div class="inner-card" fxLayout="row" fxLayoutGap="3%" fxLayout.lt-sm="column"
          fxLayoutAlign="space-between center">
          <mat-label>Product Price</mat-label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="price">
            <mat-error *ngIf="productsForm?.get('price')?.hasError('required')">
              {{messages.FILED_REQUIRD}}</mat-error>
            <mat-error *ngIf="productsForm?.get('price')?.hasError('min')">
              {{messages.PRICE_INVALID}}</mat-error>
            <mat-error *ngIf="productsForm?.get('price')?.hasError('pattern')">
              {{messages.PRICE_PATTEN}}</mat-error>
          </mat-form-field>
        </div>
        <div class="inner-card" fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="center center">
          <button mat-stroked-button color="primary" *ngIf="updateData" (click)="onNavigate()">Back</button>
          <button mat-raised-button color="primary" (click)="onSave()">{{updateData ? 'Update': 'Submit'}}</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>